* {
    margin: 0;
}

header, article, aside, nav, footer {
    padding: 20px;
}

.content {
    display: flex;
    height: 77vh;
}

header {
    background-color: bisque;
}

article {
    background-color: aqua;
    width: 50%;
}

aside {
    background-color: blueviolet;
    width: 25%;
}

nav {
    background-color: brown;
    width: 25%;
}

footer {
    background-color: blue;
}